<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingForStuff</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to image_tag("shopping.jpg", width: 60), root_path %>
        <ul>
          <li>
            Cart 
            <% if cart.present? %> 
              <sup><%= cart.size %></sup>
              <ul> 
                <% cart.each do |product| %> 
                  <li>
                    <%= link_to '❌', cart_path(product), method: :delete %> <%= product.name %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        </ul>
      </nav>
      <h1><%= link_to "Buy Our Stuff", root_path %></h1>
      <h3>Make Us Rich</h3>
    </header>
    <main>
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>
      <%= yield %>
    </main>
    <footer>
            <details>
        <summary>
            Cart
            <% if cart.present? %> 
              <sup><%= cart.size %></sup>
            <% end %>
        </summary>
        <% if cart.present? %> 
          <ul> 
            <% cart.each do |product| %> 
              <li>
                <%= product.name %> <%= link_to '❌', cart_path(product), method: :delete %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p>No items in your cart.</p>
        <% end %>
      </details>
      <hr>
      <p><span>🐐</span> Goats in Coats <span>🧥</span> - Copywrong <%= Time.current.year %></p>
    </footer>
  </body>
</html>
